@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.sidebar {
  width: 220px;
  background: #0f172a;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar a {
  color: #cbd5f5;
  text-decoration: none;
  display: flex;
  flex-direction: start;
  gap: 6px;
  padding: 10px;
  border-radius: 6px;
}

.sidebar a.active {
  background: #2563eb;
  color: white;
}
